<script setup>
import '@fontsource/inter/variable.css'
import '@fontsource/jetbrains-mono'

useHead({
  htmlAttrs: {
    lang: 'en',
  },
  bodyAttrs: {
    class: 'bg-omame-tertiary',
  },
  script: [
    {
      defer: true,
      'data-domain': 'omame.xyz',
      src: 'https://plausible.omame.xyz/js/script.js',
    },
  ],
  link: [{ rel: 'icon', type: 'image/webp', href: '/assets/omamepreact.webp' }],
})

defineRobotMeta()

useSeoMeta({
  description: "omame's website",
  ogTitle: "omame's website",
  ogType: 'website',
  ogDescription: 'programmer, designer, artist',
  ogImage: '/assets/omamepreact.webp',
  themeColor: '#9499db',
})
</script>

<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>
