<template>
  <NuxtLink
    :to="to || '/'"
    class="rounded-full bg-omame-evenDarker/40 p-3 backdrop-blur-lg transition-all hover:bg-omame-secondary hover:text-omame-evenDarker"
    title="Back to homepage"
  >
    <ArrowLeftIcon class="h-6 w-6" />
  </NuxtLink>
</template>

<script>
import { ArrowLeftIcon } from '@heroicons/vue/24/solid'

export default {
  props: ['to'],
  components: { ArrowLeftIcon },
}
</script>
