<template>
  <a
    v-if="simpleNav"
    :href="to"
    :class="[
      className,
      'flex justify-center gap-2 rounded-full bg-omame-evenDarker/40 px-6 py-4 font-semibold transition-colors [&>svg]:w-6',
      'hover:bg-omame-secondary hover:text-omame-evenDarker',
    ]"
  >
    <slot />
  </a>
  <NuxtLink
    v-else
    :to="to"
    :class="[
      className,
      'flex justify-center gap-2 rounded-full bg-omame-evenDarker/40 px-6 py-4 font-semibold transition-colors [&>svg]:w-6',
      'hover:bg-omame-secondary hover:text-omame-evenDarker',
    ]"
  >
    <slot />
  </NuxtLink>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      required: true,
    },
    simpleNav: {
      type: Boolean,
      required: false,
    },
    className: {
      type: String,
      required: false,
    },
  },
}
</script>
