<script setup>
import { siGithub } from 'simple-icons'
</script>

<script>
import { GlobeAltIcon } from '@heroicons/vue/20/solid'

export default {
  props: ['title', 'type', 'description', 'links'],
  components: { GlobeAltIcon },
}
</script>

<template>
  <div
    class="flex w-full max-w-md flex-col rounded-xl bg-omame-evenDarker/40 p-6"
  >
    <h2 class="text-2xl font-semibold">{{ title }}</h2>
    <p class="text-omame-secondary">{{ type }}</p>
    <p class="mt-4">{{ description }}</p>
    <ul v-if="links" class="mt-4 flex flex-1 flex-col justify-end gap-1">
      <li v-if="links.website">
        <a
          :href="links.website"
          class="flex items-center gap-2 font-semibold hover:underline"
        >
          <GlobeAltIcon class="h-5 w-5" />
          Website
        </a>
      </li>
      <li v-if="links.github">
        <a
          :href="links.github"
          class="flex items-center gap-2 font-semibold hover:underline"
        >
          <SIIcon :icon="siGithub" class="h-5 w-5" />
          GitHub
        </a>
      </li>
    </ul>
  </div>
</template>
