<template>
  <svg role="img" viewBox="0 0 24 24" :class="className">
    <path :d="icon.path" fill="currentColor" />
  </svg>
</template>

<script>
export default {
  props: {
    icon: {
      required: true,
    },
    className: {
      type: String,
      required: false,
    },
  },
}
</script>
