<script setup lang="ts">
import { SimpleIcon } from 'simple-icons'

const fuckedColours = ['181717', '36566F', '36465D']

defineProps<{
  platform: string
  title: string
  icon?: SimpleIcon
  link: string
}>()
</script>

<template>
  <a
    target="_blank"
    class="flex items-center hover:underline [&_svg]:mr-2 [&_svg]:w-5"
    :href="link"
  >
    <span
      :style="{
        color:
          icon &&
          `#${fuckedColours.indexOf(icon.hex) == -1 ? icon.hex : 'ffffff'}`,
      }"
    >
      <SIIcon v-if="icon" :icon="icon" />
    </span>
    <span
      :style="{
        color:
          icon &&
          `#${fuckedColours.indexOf(icon.hex) == -1 ? icon.hex : 'ffffff'}`,
      }"
      class="font-semibold"
    >
      {{ platform }}
    </span>
    : {{ title }}
  </a>
</template>
