<template>
  <div
    class="min-h-screen bg-omame-tertiary bg-gradient-radial from-omame-primary/30 to-omame-tertiary bg-cover bg-center text-white"
  >
    <slot />
  </div>
  <noscript
    v-html="
      `<!-- users without JS should still be able to see the main site with this shitty hack -->
    <style>
      .opacity-0,
      .\\[\\&\\>\\*\\]\\:opacity-0 > * {
        opacity: 1 !important;
      }
    </style>`
    "
  ></noscript>
</template>
