<script setup>
definePageMeta({
  layout: 'blog',
})

const { params } = useRoute()
const data = await queryContent()
  .where({ _id: `content:blog:${params.post}.md` })
  .findOne()

useHead({
  title: `${data.title} - omame's blog`,
})

useSeoMeta({
  description: data.description,
  ogTitle: `${data.title} - omame's blog`,
  ogDescription: data.description,
  ogType: 'article',
  themeColor: '#9499db',
  twitterCard: 'summary_large_image',
  ogImage: `/assets/postbanners/${params.post}.png`,
})
</script>

<template>
  <main class="post mx-auto flex min-h-screen max-w-4xl flex-col px-6 py-12">
    <div
      class="mb-4 flex min-h-[15rem] flex-col justify-end gap-2 rounded-2xl border-2 border-omame-primary bg-cover bg-center p-6 shadow sm:aspect-[3/1] sm:min-h-0"
      :style="{
        backgroundImage: `linear-gradient(to bottom, transparent, rgba(0 0 0 / 70%)), url(/assets/postbanners/${$route.params.post}.png)`,
      }"
    >
      <div class="flex items-center gap-4">
        <BackButton to="/blog" />
        <h1>{{ data.title }}</h1>
      </div>
      <span class="info">
        <i>{{ data.description }}</i>
      </span>
    </div>
    <article><ContentRenderer :value="data" /></article>
    <footer class="flex flex-1 self-center pt-4 text-center opacity-80">
      <p class="self-end">
        Copyright &copy; {{ new Date().getFullYear() }} omame.
      </p>
    </footer>
  </main>
</template>

<style lang="postcss">
.post {
  & :not(h1, h2, h3) > a {
    @apply font-bold text-blue-300 underline;
  }

  & h2 > a,
  & h3 > a {
    @apply relative hover:underline;

    &::before {
      content: '🔗';
      @apply absolute -translate-x-10 opacity-0 hover:opacity-100;
    }
  }

  & h1 {
    @apply text-4xl font-bold;
  }

  & h2 {
    @apply mb-2 mt-8 text-2xl font-bold;
  }

  & h3 {
    @apply mb-2 mt-4 text-xl font-bold;
  }

  & img {
    @apply mx-auto max-h-[40rem] rounded-lg;
  }

  & :not(footer) p {
    @apply my-2;
  }

  & span.info {
    @apply opacity-80;
  }

  & pre {
    @apply whitespace-pre-wrap break-words rounded-lg bg-omame-evenDarker p-4;
  }
}
</style>
