<script setup>
definePageMeta({
  layout: 'blog',
})

const posts = await queryContent('/blog').find()

useHead({
  title: `omame's blog`,
})

useSeoMeta({
  description: 'ramblings of a 17 year old online',
  ogTitle: "omame's blog",
  ogDescription: 'ramblings of a 17 year old online',
  ogType: 'website',
  themeColor: '#9499db',
})
</script>

<template>
  <div
    class="mx-auto flex min-h-screen w-full max-w-4xl flex-col items-start gap-4 px-6 py-12"
  >
    <h1 class="flex w-full items-center gap-4 text-4xl font-bold">
      <BackButton />
      welcome to my blog!
    </h1>
    <p class="mt-4">here's all the blog posts so far:</p>
    <div class="flex w-full max-w-xl flex-col gap-4">
      <NuxtLink
        v-if="posts"
        v-for="post of posts.reverse()"
        :to="post._path"
        class="mb-4 flex min-h-[15rem] flex-col justify-end gap-2 rounded-2xl border-2 border-omame-primary bg-cover bg-center p-6 shadow transition-transform duration-300 hover:scale-105 sm:aspect-[3/1] sm:min-h-0"
        :style="{
          backgroundImage: `linear-gradient(to bottom, transparent, rgba(0 0 0 / 70%)), url(/assets/postbanners/${post._file?.substring(
            5,
            post._file?.length - 3
          )}.png)`,
        }"
      >
        <span class="text-2xl font-semibold">{{ post.title }}</span>
        <span class="italic opacity-80">{{ post.description }}</span>
      </NuxtLink>
    </div>

    <footer class="flex flex-1 self-center pt-4 text-center opacity-80">
      <p class="self-end">
        Copyright &copy; {{ new Date().getFullYear() }} omame.
      </p>
    </footer>
  </div>
</template>
