<script setup>
import anime from 'animejs'
useHead({
  title: "omame's website",
})

definePageMeta({
  pageTransition: {
    mode: 'out-in',
    onEnter(_, done) {
      const tl = anime.timeline()
      tl.add({
        targets: '#index > h1',
        opacity: [0, 1],
        translateY: ['-5rem', 0],
        easing: 'spring(1, 60, 10, 0)',
      })
      tl.add(
        {
          targets: '#index > .flex > *',
          opacity: [0, 1],
          translateY: ['2rem', 0],
          easing: 'spring(1, 80, 10, 0)',
          delay: anime.stagger(75),
        },
        200
      )
      tl.add(
        {
          targets: '#index > .grid > a',
          opacity: [0, 1],
          translateY: ['5rem', 0],
          easing: 'spring(1, 40, 10, 0)',
          delay: anime.stagger(100),
        },
        400
      )
      tl.finished.then(done)
    },
    onLeave(_, done) {
      anime({
        targets: '#index',
        opacity: 0,
        translateY: '2rem',
        duration: 400,
        easing: 'easeOutQuad',
        complete: done,
      })
    },
  },
})

onNuxtReady(() => {
  const tl = anime.timeline()
  tl.add({
    targets: '#index > h1',
    opacity: [0, 1],
    translateY: ['-5rem', 0],
    easing: 'spring(1, 60, 10, 0)',
  })
  tl.add(
    {
      targets: '#index > .flex > *',
      opacity: [0, 1],
      translateY: ['2rem', 0],
      easing: 'spring(1, 80, 10, 0)',
      delay: anime.stagger(75),
    },
    200
  )
  tl.add(
    {
      targets: '#index > .grid > a',
      opacity: [0, 1],
      translateY: ['5rem', 0],
      easing: 'spring(1, 40, 10, 0)',
      delay: anime.stagger(100),
    },
    400
  )
})
</script>

<script>
import {
  BookOpenIcon,
  FolderOpenIcon,
  GlobeEuropeAfricaIcon,
} from '@heroicons/vue/24/solid'
import { siKofi } from 'simple-icons'
import { commissions } from '~~/assets/metadata.json'
export default {
  components: { FolderOpenIcon, GlobeEuropeAfricaIcon, BookOpenIcon },
}
</script>

<template>
  <div
    id="index"
    class="flex min-h-screen flex-col items-center justify-center gap-6 p-6"
  >
    <h1 class="text-7xl font-semibold opacity-0">omame</h1>
    <div class="flex items-center gap-4 text-xl [&>*]:opacity-0">
      <p>programmer</p>
      <IndexSplitter />
      <p>designer</p>
      <IndexSplitter />
      <p>artist</p>
    </div>
    <div class="grid gap-2 md:grid-rows-3 [&>*]:opacity-0">
      <IndexButton to="/projects">
        <FolderOpenIcon />
        projects
      </IndexButton>
      <IndexButton to="/social">
        <GlobeEuropeAfricaIcon />
        social media
      </IndexButton>
      <IndexButton to="/blog" class="col-span-2">
        <BookOpenIcon />
        blog
      </IndexButton>
      <IndexButton
        :to="
          'https://ko-fi.com/omametech' + (commissions ? '/commissions' : '')
        "
        simpleNav
        class="col-span-2"
      >
        <SIIcon :icon="siKofi" />
        <template v-if="!commissions">buy me a ko-fi! &lt;3</template>
        <template v-else>commissions open!</template>
      </IndexButton>
    </div>
  </div>
</template>
