<script setup>
useHead({
  title: 'Domain parked - omame',
})

useSeoMeta({
  description: 'Domain parked',
  ogTitle: 'Domain parked',
  ogType: 'website',
  ogDescription: "Something's coming soon...",
  ogImage: '',
  themeColor: '',
})
</script>

<template>
  <div class="flex min-h-screen flex-col items-center justify-center gap-6 p-6">
    <h1 class="text-center text-5xl font-semibold">
      Something's coming soon...
    </h1>
    <p>
      Copyright &copy;
      <a href="https://omame.xyz" class="text-blue-300 hover:underline"
        >omame</a
      >
      {{ new Date().getFullYear() }}
    </p>
  </div>
</template>
