<script setup>
definePageMeta({
  layout: 'blog',
})
</script>

<template>
  <div class="mx-auto flex min-h-screen max-w-4xl flex-col gap-2 px-6 py-12">
    <div class="flex items-center gap-4">
      <BackButton to="/" />
      <h1 class="text-4xl font-bold">Privacy Policy</h1>
    </div>
    <h2 class="mt-6 text-2xl font-bold">FurryGPT</h2>
    <p>
      FurryGPT uses cookies to store user login data and user settings. These
      cookies aren't and will not be used to track user activity.
    </p>
    <p>
      FurryGPT stores daily and weekly usage statistics in memory. They are
      fully anonymous and not tied to any user data.
    </p>
    <h2 class="mt-4 text-xl font-bold">Conversations</h2>
    <p>
      Messages are saved for the conversation's lifespan, so you can continue
      the conversation on the same device at a later time. When you clear the
      conversation, messages are immediately removed from FurryGPT's data store.
    </p>
    <p>
      Conversations are tied to the unique login ID assigned on page load.
      Theoretically, I <i>could</i> look at your conversation that way. However,
      that requires me to know your unique ID, which I do not. Only your browser
      knows your unique ID. In practice, I cannot look at your conversations
      with FurryGPT.
    </p>
    <h2 class="mt-4 text-xl font-bold">Memories</h2>
    <p>
      FurryGPT Memories are stored based on your Discord user ID, so that they
      remain the same as you switch devices.
    </p>
    <p>
      When you turn off the Memories feature, all Memories are immediately
      deleted from FurryGPT's data store.
    </p>
    <footer class="flex flex-1 self-center pt-4 text-center opacity-80">
      <p class="self-end">
        Copyright &copy; {{ new Date().getFullYear() }} omame.
      </p>
    </footer>
  </div>
</template>
