<script setup>
import { projects } from '~~/assets/metadata.json'
import anime from 'animejs'

useHead({
  title: "omame's website | projects",
})

definePageMeta({
  pageTransition: {
    mode: 'out-in',
    onEnter(_, done) {
      const tl = anime.timeline()
      tl.add({
        targets: '#page h1',
        opacity: [0, 1],
        translateY: ['-5rem', 0],
        easing: 'spring(1, 60, 10, 0)',
      })
      tl.add(
        {
          targets: '#projects > div',
          opacity: [0, 1],
          translateY: ['2rem', 0],
          easing: 'spring(2, 80, 10, 0)',
          delay: anime.stagger(200),
        },
        300
      )
      tl.finished.then(done)
    },
    onLeave(_, done) {
      anime({
        targets: ['#page'],
        opacity: 0,
        translateY: '2rem',
        duration: 400,
        easing: 'easeOutQuad',
        complete: done,
      })
    },
  },
})

onNuxtReady(() => {
  const tl = anime.timeline()
  tl.add({
    targets: '#page h1',
    opacity: [0, 1],
    translateY: ['-5rem', 0],
    easing: 'spring(1, 60, 10, 0)',
  })
  tl.add(
    {
      targets: '#projects > div',
      opacity: [0, 1],
      translateY: ['2rem', 0],
      easing: 'spring(2, 80, 10, 0)',
      delay: anime.stagger(200),
    },
    300
  )
})
</script>

<template>
  <div
    class="flex min-h-screen flex-col items-center justify-center gap-6 px-6 py-12"
    id="page"
  >
    <div>
      <h1 class="flex items-center gap-6 text-4xl font-semibold opacity-0">
        <BackButton />
        projects
      </h1>
      <div class="mt-8 grid gap-4 lg:grid-cols-2 [&>*]:opacity-0" id="projects">
        <Project
          v-for="project of projects"
          :title="project.title"
          :type="project.type"
          :description="project.description"
          :links="project.links"
        />
      </div>
    </div>
  </div>
</template>
