<script setup>
import anime from 'animejs'

useHead({
  title: "omame's website | social media",
})

definePageMeta({
  pageTransition: {
    mode: 'out-in',
    onEnter(_, done) {
      const tl = anime.timeline()
      tl.add({
        targets: '#page h1',
        opacity: [0, 1],
        translateY: ['-5rem', 0],
        easing: 'spring(1, 60, 10, 0)',
      })
      tl.add(
        {
          targets: '#sections > div',
          opacity: [0, 1],
          translateY: ['2rem', 0],
          easing: 'spring(2, 80, 10, 0)',
          delay: anime.stagger(200),
        },
        300
      )
      tl.finished.then(done)
    },
    onLeave(_, done) {
      anime({
        targets: ['#page'],
        opacity: 0,
        translateY: '2rem',
        duration: 400,
        easing: 'easeOutQuad',
        complete: done,
      })
    },
  },
})

onNuxtReady(() => {
  const tl = anime.timeline()
  tl.add({
    targets: '#page h1',
    opacity: [0, 1],
    translateY: ['-5rem', 0],
    easing: 'spring(1, 60, 10, 0)',
  })
  tl.add(
    {
      targets: '#sections > div',
      opacity: [0, 1],
      translateY: ['2rem', 0],
      easing: 'spring(2, 80, 10, 0)',
      delay: anime.stagger(200),
    },
    300
  )
})
</script>

<script>
import {
  CodeBracketIcon,
  GlobeAltIcon,
  PaintBrushIcon,
} from '@heroicons/vue/24/solid'
import {
  siDiscord,
  siFuraffinity,
  siGithub,
  siGitlab,
  siInstagram,
  siMastodon,
  siTelegram,
  siTumblr,
  siTwitter,
} from 'simple-icons'

export default {
  components: { GlobeAltIcon, PaintBrushIcon, CodeBracketIcon },
}
</script>

<template>
  <div
    class="flex min-h-screen flex-col items-center justify-center gap-6 px-6 py-12"
    id="page"
  >
    <div>
      <h1 class="flex items-center gap-6 text-4xl font-semibold opacity-0">
        <BackButton />
        social media
      </h1>
      <div class="mt-8 grid gap-4 lg:grid-cols-2 [&>*]:opacity-0" id="sections">
        <SocialSection>
          <h2 class="mb-2 flex items-center gap-2 text-2xl font-semibold">
            <GlobeAltIcon class="h-6 w-6" />
            General
          </h2>
          <SocialLink
            platform="Mastodon"
            title="@omame@woof.tech"
            :icon="siMastodon"
            link="https://woof.tech/@omame"
          />
          <SocialLink
            platform="Discord"
            title="@omametech"
            :icon="siDiscord"
            link="https://discord.gg/jXSanCxn77"
          />
          <SocialLink
            platform="Bluesky"
            title="@omame.xyz"
            link="https://bsky.app/profile/omame.xyz"
          />
          <SocialLink
            platform="Telegram"
            title="@omametech"
            :icon="siTelegram"
            link="https://omametech.t.me"
          />
          <SocialLink
            platform="Twitter"
            title="@omametech"
            :icon="siTwitter"
            link="https://twitter.com/omametech"
          />
        </SocialSection>
        <SocialSection>
          <h2 class="mb-2 flex items-center gap-2 text-2xl font-semibold">
            <PaintBrushIcon class="h-6 w-6" />
            Art
          </h2>
          <SocialLink
            platform="Telegram"
            title="@omameart"
            :icon="siTelegram"
            link="https://t.me/s/omameart"
          />
          <SocialLink
            platform="Twitter"
            title="@omameart"
            :icon="siTwitter"
            link="https://twitter.com/omameart"
          />
          <SocialLink
            platform="Instagram"
            title="@omametech"
            :icon="siInstagram"
            link="https://instagram.com/omametech/"
          />
          <SocialLink
            platform="Tumblr"
            title="@omametech"
            :icon="siTumblr"
            link="https://omametech.tumblr.com"
          />
          <SocialLink
            platform="Fur Affinity"
            title="~omametech"
            :icon="siFuraffinity"
            link="https://furaffinity.net/user/omametech"
          />
        </SocialSection>
        <SocialSection>
          <h2 class="mb-2 flex items-center gap-2 text-2xl font-semibold">
            <CodeBracketIcon class="h-6 w-6" />
            Code
          </h2>
          <SocialLink
            platform="GitLab"
            title="@omametech"
            :icon="siGitlab"
            link="https://gitlab.com/omametech"
          />
          <SocialLink
            platform="GitHub"
            title="@omametech"
            :icon="siGithub"
            link="https://github.com/omametech"
          />
        </SocialSection>
      </div>
    </div>
  </div>
</template>
